{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body class="bg-light">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">

                <h3 class="text-center text-danger mb-3">Insert Access Record</h3>

                <form method="POST" class="p-4 border rounded bg-white">
                    {% csrf_token %}
                    <label for="name" class="form-label">Name</label>

                    <select name="name" id="">

                        {% for TO in querysetoflistofwebpageobject %}

                        <option value="{{TO.name}}"> {{TO.name}}</option>


                        {% endfor %}

                    </select>
                    <br>
                    <br>

                    <label for="author" class="form-label">Author</label>
                    <input placeholder="Enter the author" id="author" type="text" name="author" class="form-control mb-3">

                    <label for="date" class="form-label">Date</label>

                    <input placeholder="Enter the date" id="date" type="date" name="date" class="form-control mb-3">


                    <!-- <input placeholder="Enter the topic name" id="topic" type="text" name="topic"
                        class="form-control mb-3">
                    <button type="submit" class="btn btn-danger w-100">Submit</button> -->

                    <input class="btn btn-danger w-100" type="submit" name="" id="">
                </form>

            </div>
        </div>
    </div>

</body>

</html>